* {
    box-sizing: border-box;
}
:root {
	--main-color: #29aa09;
	--secondary-color: #929292;
}

body {
    background: #ddd;
}
.app-container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}
select, input {
    padding: 5px 2px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--secondary-color);
}
.button {
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
}
.main-btn {
    background: var(--main-color);
    color: #fff;

}
.form-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px auto;
}
.dropdown {
    margin: 0 0 25px;
}